{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles%}
{{ super() }}

{% endblock %}
{% block content %}

  {{ macro.displayListingList(listing) }}
</div>

<div class="container-fluid">
  <div class="jumbotron" style="text-align: center">

    <h1>PITCH-HUB</h1>
   <p>Welcome to pitch-hub, thinkout and add your idear . it might make somones day</p>
    
      </div>

<div class="row">

  <div class="col-md-4 thumbnail">
          <h1>Politics</h1>
          <p>Most bad government comes from too much government</p>
        </div> 
    <div class="col-md-4 thumbnail">
          <h1>Comedy</h1>
          <p>A day without laughter is a day wasted
          </p>
        </div>
     <div class="col-md-4 thumnail">  
        
          <h1>Business</h1>
          <p >The best business quality is quality not
            quantity</p>
        
      </div>

      </div>

  {% for pitches in pitch %}
  
      <div class="flip-card-back">
        <h1 style="font-weight:bold; text-align:center;">{{pitches.listing}}</h1>
        <p style="font-style: italic; font-weight: bold; text-align:center;">
          {{pitches.actual_pitch}}
        </p>
      </div>
    

  {% endfor %}
  {% endblock %}